.service_wrapper{
    flex-direction: column;
}
.Services_cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.Services_cards .Services_card{
    padding: 30px 25px;
    border: 2px solid transparent;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(131,131,131,0.05);
}
.Services_cards .Services_card h3{
    margin-bottom: 10px;
    font-size: 20px;
}
.Services_cards .Services_card p{
    font-size: 12px;
    font-family: 'poppins';
    margin-bottom: 3px;

}
.Services_cards .Services_card:hover i{
    animation: Anime_shake 1s forwards linear;
}
.Services_cards .Services_card:hover{
    border-color: #14479f;
}
.Services_cards .Services_card i{
    font-size: 32px;
    color: #2f6edb;
}
@keyframes Anime_shake {
    0%,
    100%{
        transform: translateX(0);
    }
    10%,30%,50%,70%{
        transform: translateX(10px);
    }
    20%,40%,60%{
        transform: translateX(-10px);
    }
    80%{
        transform: translateX(8px);
    }
    90%{
        transform: translateX(-8px);
    }

}
@media screen and (max-width: 1200px){
    .Services_cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 768px){
    .Services_cards{
        grid-template-columns: repeat(1,1fr);
    }
}