@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'playfair';
}
button{
    margin: 0 20px;
    height: 35px;
    width: 120px;
    border: none;
    border-radius: 30px;
    font-family: 'poppins';
    background-color: #135bd8;
    font-size: 13px;
    /* font-weight: 500; */
    cursor: pointer;
    transition: 1s;
    letter-spacing: 1.2px;
    color: #fff;
}
button:hover{
    transform: scale(0.95);
}
.section{
    padding: 70px 15%;
    /* flex-direction: column; */
    display: flex;
    gap: 40px;
}
.section__Title{
    font-size: 30px;
}
.section__Title span{
    color: #3997fa;
    position: relative;
}
.section__Title span::before{
    content: '';
    position: absolute;
    top:35px;
    left: 0;
    height: 04px;
    width: 5rem;
    background-color: #3997fa;
}
.section__Heading{
    font-size: 20px;
    font-weight: 600;
    font-family: 'poppins';
}
.underline{
    height: 04px;
    width: 5rem;
    background-color: #3997fa;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 120px;
}
/* colorBlue: #135bd8 */
/* colorYellow : #f5b006 */
/* bleuCyan : #3997fa */